#searchNav {
    color:rgb(118, 131, 245);
}

.navItem {
    color:#bebebe
}

.navItem:hover {
    color: #ffffff;
  }

#foodLogo {
    color:rgb(248, 117, 29)
}


.search-bar {
    text-align: center;
}


img {
  border-radius: 5px;
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 100%;
}

.profile-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: white;
  border-style: none !important;
  border-radius: 10px;
}


/* The sidebar menu */
.sidenav {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-left: 2%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #333333;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #999999;
}

a.active {
  font-weight: bold;

}

a.no-style{
  color: inherit !important;
  text-decoration: none !important;
}