{% extends "template.html" %}

{% block content %}

    <div class = "d-flex flex-column">
        <div class = "d-flex flex-column" style = "margin-left:10%; margin-right:10%;">
            <div class = "d-flex flex-row justify-content-center">
                <h1>About Us</h1>
            </div>

            <div class = "d-flex flex-column justify-content-center">
                <div class = "d-flex flex-row  justify-content-center" style = "margin-top:0.5%;">
                    <p>This project seeks to make the acquirement of recipes and its related information easier for users coming from many different backgrounds.</p>
                </div>
            </div>

            <div class = "d-flex flex-column" style = "margin-top:4%;">
                <div class = "d-flex flex-row justify-content-center" style = "margin-top:0%;">
                    <h2>Contributors</h2>
                </div>


                <div class = "d-flex flex-column justify-content-center" style = "margin-top: 0.5%; margin-right: 35%; margin-left: 35%;">

                    <div class = "profile-card m-3">

                        <div class = "p-3">
                            <div class = "d-flex flex-row justify-content-center " style = "margin-top:0.5%;">
                                <h3>John</h3>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <b>Backend / Frontend Developer</b>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <img src = "{{url_for('static', filename='/images/default.jpg')}}">
                            </div>
                            <div class = "d-flex flex-row">

                                <ul>
                                <b> Education </b>
                                <p> University of Maryland, Computer Engineering</p>

                                <b>Responsibilities</b>
                                <p> die </p>

                                <b>Contact</b>
                                <p> jcsantoto@gmail.com </p>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class = "profile-card m-3">

                        <div class = "p-3">
                            <div class = "d-flex flex-row justify-content-center " style = "margin-top:0.5%;">
                                <h3>Gerald</h3>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <b>Frontend Developer</b>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <img src = "{{url_for('static', filename='/images/default.jpg')}}">
                            </div>
                            <div class = "d-flex flex-row">

                                <ul>
                                <b> Education </b>
                                <p> University of Maryland, Information Science</p>

                                <b>Responsibilities</b>
                                <p> die </p>

                                <b>Contact</b>
                                <p> gerald@gerald.com </p>

                                </ul>
                            </div>
                        </div>

                    </div>

                   <div class = "profile-card m-3">

                        <div class = "p-3">
                            <div class = "d-flex flex-row justify-content-center " style = "margin-top:0.5%;">
                                <h3>Kenny</h3>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <b>UI/UX Consultant, PM, Scrum Master</b>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <img src = "{{url_for('static', filename='/images/default.jpg')}}">
                            </div>
                            <div class = "d-flex flex-row">

                                <ul>
                                <b> Education </b>
                                <p> University of Maryland, Information Science</p>

                                <b>Responsibilities</b>
                                <p> die </p>

                                <b>Contact</b>
                                <p> kennytran1232@gmail.com </p>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class = "profile-card m-3">

                        <div class = "p-3">
                            <div class = "d-flex flex-row justify-content-center " style = "margin-top:0.5%;">
                                <h3>Abdulai</h3>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <b>Backend Developer</b>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <img src = "{{url_for('static', filename='/images/default.jpg')}}">
                            </div>
                            <div class = "d-flex flex-row">

                                <ul>
                                <b> Education </b>
                                <p> University of Maryland, Computer Science</p>

                                <b>Responsibilities</b>
                                <p> die </p>

                                <b>Contact</b>
                                <p> abdulai </p>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class = "profile-card m-3">

                        <div class = "p-3">
                            <div class = "d-flex flex-row justify-content-center " style = "margin-top:0.5%;">
                                <h3>Elvis</h3>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <b>uhhhh</b>
                            </div>
                            <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%;">
                                <img src = "{{url_for('static', filename='/images/default.jpg')}}">
                            </div>
                            <div class = "d-flex flex-row">

                                <ul>
                                <b> Education </b>
                                <p> University of Ohio - ?????</p>

                                <b>Responsibilities</b>
                                <p> die </p>

                                <b>Contact</b>
                                <p> elvis-pixel </p>

                                </ul>
                            </div>
                        </div>

                    </div>


                </div>


            </div>



            <div>
                <div class = "d-flex flex-row justify-content-center" style = "margin-top:4%">
                    <h2>Contact Us</h2>
                </div>
                <div class = "d-flex flex-row justify-content-center" style = "margin-top:0.5%; margin-bottom: 15%;">
                    <p>To contact Food Craft, please email us at whoisjoe@joemama.com</p>
                </div>
            </div>

        </div>

    </div>

{% endblock %}