{% extends "template.html" %}

{% block content %}

    <script src="{{url_for('static', filename='/js/account.js')}}"></script>

    <div class="sidenav m-3">
        <nav id="dynamic">
            <a class = "active" href="#" data-target="overview">Overview</a>
            <a href="#">My Recipes</a>
            <a href="#" data-target="favorites">Favorites</a>
            <a href="#" data-target="history">History</a>
            <a href="#" data-target="settings">Settings</a>
        </nav>
    </div>


    <div class = "d-flex flex-column justify-content-center" style="margin-right: 25%; margin-left: 25%;">

        <div id = "overview" class = "content-section loaded">

            <div class = "d-flex flex-row justify-content-center">

                <div class = "card m-3 flex-fill">
                    <div class = "p-3" >
                        <h1>User Info</h1>
                    </div>

                    <div class = "p-3">
                        <div class = "d-flex flex-row">
                            <h3>Username:</h3>
                        </div>

                        <div class = "d-flex flex-row">
                            <p> {{ username }} </p>
                        </div>

                        <div class = "d-flex flex-row">
                            <h3>Email: </h3>
                        </div>
                        <div class = "d-flex flex-row">
                            <p> {{ email }} </p>
                        </div>
                    </div>

                </div>

                <div class = "card m-3 flex-fill">
                    <div class = "p-3">
                        <h1>Preferences</h1>
                    </div>

                    <div class = "p-3">
                        <div class = "d-flex flex-row">
                            <h2>Allergies: </h2>
                        </div>
                        <div class = "d-flex flex-row">
                            <p> {{ intolerances }} </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div id = "favorites" class = "content-section">

        </div>

        <div id = "settings" class = "content-section">

        </div>

        <div id = "history" class = "content-section">

        </div>



    </div>

{% endblock %}
