{% extends "template.html" %}

{% block content %}

    <div class = "d-flex justify-content-center">

        <div class = "container">

            <div class = "row">
                <h1>Account Information</h1>

            </div>

            <div class = "row">
                <div class = "col-md-2">
                    <h2>Username: </h2>
                </div>
                <div class = "col-md-4">
                    <input type = "text" class = "form-control" value = "{{ username }}" readonly/>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-2">
                    <h2>Email: </h2>
                </div>
                <div class = "col-md-4">
                    <input type = "text" class = "form-control" value = "{{ email }}" readonly/>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-2">
                    <h2>Allergies: </h2>
                </div>
                <div class = "col-md-4">
                    <input type = "text" class = "form-control" value = "{{ intolerances }}" readonly/>
                </div>
            </div>

            <div class = "row">
                <a class = "button" href = "/account/settings">Account Settings</a>
            </div>

            <div class = "row" style="margin-top: 3%;">
                <h2>Favorite Recipes</h2>
            </div>

            <div class = "row" style = "margin-left: 1%;">
                <ul>
                    {% for id in favorites %}
                        <a href = "recipe/{{ id }}"> {{ favorites[id] }} </a>
                    {% endfor %}
                </ul>
            </div>

        </div>
        

    </div>

{% endblock %}
