{% extends "template.html" %}

{% block content %}

<div class = "row" style="margin-top: 3%;">

    <form class = "form-signin  w-25" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class = "col">
            <h2> Account Information </h2>


                <div class = "form-group form-inline">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                    </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class = "form-group form-inline">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class = "form-group form-inline">
                    {{ form.old_password.label(class="form-control-label") }}

                    {% if form.old_password.errors %}
                            {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                                {% for error in form.old_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                    </div>
                    {% else %}
                        {{ form.old_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class = "form-group form-inline">
                    {{ form.new_password.label(class="form-control-label") }}

                    {% if form.new_password.errors %}
                            {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                    </div>
                    {% else %}
                        {{ form.new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class = "form-group form-inline">
                    {{ form.confirm_password.label(class="form-control-label") }}

                    {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                    </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

        </div>

        <div class = "col">
            <h2> Account Preferences </h2>

                <div class = "form-group form-inline">
                    <h4> {{ form.intolerances.label }} </h4>
                    {% for subfield in form.intolerances %}
                        {{ subfield }}
                        {{ subfield.label }} <br>
                        {% endfor %}
                </div>

                <div class = "form-group form-inline">
                    <h4> Macros </h4>
                    {{ form.carbohydrates.label }}
                    {{ form.carbohydrates(class="form-control form-control-lg") }}

                    {{ form.protein.label }}
                    {{ form.protein(class="form-control form-control-lg") }}

                    {{ form.fats.label }}
                    {{ form.fats(class="form-control form-control-lg") }}
                </div>

        </div>

        {{ form.submit(class="btn btn-outline-info") }}

    </form>


</div>


{% endblock %}