{% extends "template.html" %}

{% block content %}

<script src="{{url_for('static', filename='/js/cache_recipe.js')}}"></script>

<script>
        const isUserAuthenticated = {{ current_user.is_authenticated|lower }};
</script>


<div class="row" style = "margin-left: 1%; margin-right: 1%;">

    <div class = "row border-bottom border-2">
        <div class="col-md-auto">
            <h2>Recipe Info</h2>
        </div>

        <div class="col">
            <a href="/pdf">Print PDF</a>
        </div>
    </div>

    <div class="col-md-10">
        {% if current_user.is_authenticated and current_user.confirmed %}

                <button class="favorite-btn" data-recipe-id="{{ recipe_id }}">
                    {% if favorite %}
                        Unfavorite
                    {% else %}
                        Favorite
                    {% endif %}
                </button>
        {% endif %}
    </div>


</div>

<div id = "recipe-title" class = "row border-bottom border-2" style = "margin-left: 1%; margin-right: 1%;">

</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-top: 1%">
    <h2> Summary </h2>
</div>

<div id = "recipe-summary" class = "row border-bottom border-2" style = "margin-left: 1%; margin-right: 1%; margin-top: 0.5%;">

</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-top: 1%">
    <h2> Price</h2>
</div>

<div id = "recipe-price" class = "row border-bottom border-2" style = "margin-left: 1%; margin-right: 1%; margin-top: 0.5%;">

</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-top: 1%">
    <h2> Nutrients </h2>
</div>

<div id = "recipe-nutrients" class = "row border-bottom border-2" style = "margin-left: 2%; margin-right: 1%; margin-top: 0.5%;">

</div>


<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-top: 1%;">
    <h2> Ingredients </h2>
</div>


<div id = "recipe-intolerances" style = "background-color: yellow;">

</div>


<div id = "recipe-ingredients" class = "row border-bottom border-2" style = "margin-left: 2%; margin-right: 1%; margin-top: 0.5%;">

</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-bottom: 0.5%; margin-top: 1%;">
    <h2> Instructions </h2>
</div>

<div id = "recipe-instructions" class = "border-bottom border-2" style = "margin-left: 1%;">

</div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{url_for('static', filename='/js/favorite.js')}}"></script>

{% endblock %}