{% extends "template.html" %}

{% block content %}

<div class="row" style = "margin-left: 1%; margin-right: 1%;">

    <div class = "row border-bottom border-2">
        <div class="col-md-auto">
            <h2>Recipe Info</h2>
        </div>

        <div class="col">
            <a href="/pdf">Print PDF</a>
        </div>
    </div>

    <div class="col-md-10">
        {% if current_user.is_authenticated and current_user.confirmed %}

                <button class="favorite-btn" data-recipe-id="{{ recipe_id }}">
                    {% if favorite %}
                        Unfavorite
                    {% else %}
                        Favorite
                    {% endif %}
                </button>
        {% endif %}
    </div>


</div>

<div class = "row border-bottom border-2" style = "margin-left: 1%; margin-right: 1%;">
    <h3> {{ title }} </h3>
</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-top: 1%">
    <h2> Summary </h2>
</div>

<div class = "row border-bottom border-2" style = "margin-left: 1%; margin-right: 1%; margin-top: 0.5%;">
    <p> {{ summary|safe }} </p>
</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-top: 1%;">
    <h2> Ingredients </h2>
</div>

{% if contains_intolerances %}
    <div style = "background-color: yellow;">
        {% for intolerance in contains_intolerances %}
        <span>
            Warning: The following recipe may contain {{ intolerance.name }} which you have specified as an allergen <br>
        </span>
        {% endfor %}
    </div>
{% endif %}

<div class = "row border-bottom border-2" style = "margin-left: 2%; margin-right: 1%; margin-top: 0.5%;">
    {% for ingr in ingredients %}
        <p>
        <ul style="list-style-type:square; line-height: 0px;">
        <li>
        {{ ingr["amount"] }}
        {{ ingr["unit"] }}
        {{ ingr["name"] }}
        </li>
        </ul>
        </p>
    {% endfor %}
</div>

<div class = "row" style = "margin-left: 1%; margin-right: 1%; margin-bottom: 0.5%; margin-top: 1%;">
    <h2> Instructions </h2>
</div>
<div class = "border-bottom border-2">
    {% for instr in instructions %}
<div class = "row" style = "margin-left: 1%; margin-right: 1%;">
    <p>
        <b> Step {{ instr["number"] }} </b>
        <br>
        <div style="margin-top: 1px;"> {{ instr["step"] }} </div>
    </p>
</div>
    {% endfor %}
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{url_for('static', filename='/js/favorite.js')}}"></script>

{% endblock %}