{% extends "template.html" %}

{% block content %}

    <div class = "container text-center">

        <div class = "row" >

            <div style = "margin-bottom:5%;">
                <h1 style = "font: 50px Source Serif Pro, serif; color: orange; "> Welcome to FOODCRAFT </h1>
            </div>

            <div style="background-image: url({{url_for('static', filename='/images/background.png')}}); background-position: center; background-size: cover;">
                <form class = "form-inline ms-auto" style = "margin-left: auto; margin-right: auto; margin-top: 1%; width: 75%;" action = "{{ url_for('views.search') }}" method="GET">


                    <div style = "margin-top:13%; margin-bottom:13%;">
                        <div class = "btn-group toggle" role = "group" aria-label = "Radio toggle button group" style = "margin-left: auto; margin-right: auto; width:50%;">
                            <input type = "radio" class = "btn-check btn-block" name = "mode" id = "toggle-by-name" autocomplete="off" style = "width:50%;" value = "1" checked>
                            <label class = "btn btn-outline-success" for = "toggle-by-name">Search by recipe name</label>

                            <input type = "radio" class = "btn-check btn-block" name = "mode" id = "toggle-by-ingredient" autocomplete="off" style = "width:50%;" value = "2 ">
                            <label class = "btn btn-outline-success" for = "toggle-by-ingredient">Search by ingredients</label>
                        </div>
                        <div class = "m-3">
                            {{ form.query(id="toggle-search-bar", class="form-control form-control-lg search-bar", style="background-color:rgba(255,255,255,0.75)") }}
                            {{ form.submit(class="m-3") }}
                        </div>
                    </div>





                </form>
            </div>


        </div>


<!--   Carousel     -->
        <div class = "card" style = "margin-left: 30%; margin-right: 30%; margin-top: 15%">

            <div class = "m-3">
                <h3> Since you liked {{ original_name }}, try these recipes: </h3>
            </div>

            <div id="recommendations" class="carousel slide" data-bs-ride="carousel">

                  <div class="carousel-inner">
                  {% for item in recommendation %}
                    <div  class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">

                        <div style = "margin-left: 15%; margin-right: 15%;">
                            <a style = "no-style" href = "/recipe/{{ item['id'] }}">

                                    <img class = "img-fluid w-100" src = "{{ item['image'] }}" style = "margin-left: auto; margin-right: auto;">
                                    <div class = "carousel-caption" style = "background-color: rgba(0,0,0,0.5);">
                                        <h5> {{ item['title'] }} </h5>
                                    </div>
                            </a>
                        </div>

                    </div>
                  {% endfor %}
                  </div>

                <div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#recommendations" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#recommendations" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

                <div class="carousel-indicators">
              {% for index in range(recommendation|length) %}
                <button type="button" data-bs-target="#recommendations" data-bs-slide-to={{ index }} {% if index == 0 %}class="active"{% endif %} aria-current="true"></button>
              {% endfor %}
            </div>


            </div>

        </div>
<!-- End Carousel -->




    </div>

    <script src="{{url_for('static', filename='/js/toggle.js')}}"></script>
    <script>
        $(document).ready(function() {
            const carousel = new bootstrap.Carousel('#myCarousel')
        });
    </script>

{% endblock %}