{% extends "template.html" %}

{% block content %}
    <div class = "d-flex justify-content-center" style="margin-top: 3%;">
        <form class = "form-signin d-flex justify-content-center" method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                <div class = "row">
                    <h1 id = "foodLogo">Foodcraft</h1>
                </div>
                <div class = "row border border-1 border-black">
                    <div class = "col" style = "margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                        <div class = "row">
                            <h1 class = "h3 mb-3 font-weight-normal">Password assistance</h1>
                        </div>

                        <div class = "row">
                            <p>Enter your new password</p>
                        </div>

                        <div class = "row form-group form-inline">
                            {{ form.password.label(class="form-control-label") }}
                            {{ form.password(class="form-control form-control-lg") }}
                        </div>

                        <div class = "row form-group form-inline">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                        </div>

                        <div class = "row">
                            {% if form.password.errors %}
                                {% for error in form.email.errors %}
                                    <div class="text-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if form.confirm_password.errors %}
                                {% for error in form.email.errors %}
                                    <div class="text-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class = "row">
                            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}