{% extends "template.html" %}

{% block content %}
    <div class = "d-flex justify-content-center" style="margin-top: 3%;">
        <form class = "form-signin d-flex justify-content-center" method="POST" action="">
            <div>
                <div class = "row">
                    <h1 id = "foodLogo">Foodcraft</h1>
                </div>
                <div class = "row border border-1 border-black">
                    <div class = "col" style = "margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                        <div class = "row">
                            <h1 class = "h3 mb-3 font-weight-normal">Password assistance</h1>
                        </div>

                        <div class = "row">
                            <p>Enter the email address associated with your Foodcraft account.</p>
                        </div>

                        <div class = "row form-group form-inline">
                            <label class = "form-control-label" for = "email">Email</label>
                            <input class = "form-control form-control-lg" id = "email" name = "email" required type = "text" value>
                        </div>

                        <div class = "row">
                            <button class = "btn btn-lg btn-primary btn-block" type = "submit" style = "margin-top: 3%;">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}