<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Shopping List and Instructions</title>
</head>


<body>

<font color=#F8751D > <h4> Food Craft </h4> </font>

    <div style="margin-left: 1%;">
        <h1> {{ title }} </h1>

        <p> {{ summary }}  </p>

        <p> <b>Ready Time:</b> {{ time }} </p>

        <h2> Ingredients </h2>

        {% for ingr in ingredients %}
            <p>
            <ul style="list-style-type:square">
            <li>
            {{ ingr["amount"] }}
            {{ ingr["unit"] }}
            {{ ingr["name"] }}
            </li>
            </ul>
            </p>
        {% endfor %}

        <h2> Instructions </h2>
        {% for instr in instructions %}
        <p>
            <b> Step {{ instr["number"] }} </b>
            <br>
            <div style="margin-top: 1px;"> {{ instr["step"] }} </div>
        </p>
        {% endfor %}

    </div>
</body>



</html>